p {
  font-family: Lato;
}

.swipeable{
  border: 3px solid tomato;
  border-radius: 3px;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  background: orange;
}

.swipeable ul {
  overflow-y: auto;
  border: solid 1px green;
  height: 10rem;
}

pre {
  border: 3px dashed darkcyan;
  border-radius: 3px;
  color: darkgreen;
  background: lightgreen;
}